<div class="row">
    <div class="col-lg-12">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade active show" id="home" role="tabpanel">
                <div class="event-img">
                    <img style="border-radius: 100%;" src="{{customer.imageUrl}}" class="img-responsive" />
                </div>
                <br>
                <div style="color: #3BB9FF; font-weight: bold; font-size: 180%;">
                    {{ customer.firstName }} {{ customer.lastName }}
                </div>

                <hr>

                <div class="event-wrap">
                    <h3 style="color:rgb(90, 88, 88);">Account No: {{ customer.accountNo }}</h3>

                    <div style="color:rgb(90, 88, 88); font-size: large;">
                        Account type : {{ customer.accountType }}
                    </div>
                    <div style="color:rgb(90, 88, 88); font-size: large;">
                        Email : {{ customer.email }}
                    </div>
                    <div style="color:rgb(90, 88, 88); font-size: large;">
                        Current Balance : <span style="color: #4CC417; font-weight: bold;">{{ customer.balance }}</span>
                    </div>
                </div>
                <hr>

                <button routerLink="/transfer-list/{{ customer.id }}" class="btn btn-outline-success">Send Money</button>
                <br><br><br><br>
            </div>
        </div>
    </div>
</div>